<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>common</key>
	<array>
		<dict>
			<key>count</key>
			<string>7</string>
			<key>item_id</key>
			<string>1000757</string>
			<key>item_info</key>
			<dict>
				<key>auth_level</key>
				<integer>1</integer>
				<key>biz_wholesale_price</key>
				<string>150.00</string>
				<key>full_name</key>
				<string>Hape积木/拼插益智积木 彩虹积木 50块 适用年龄0到3岁 21cm*12cm*15.5cm</string>
				<key>icon</key>
				<string>http://img03.miyabaobei.com/item/10/1000/1000757_topic_1.jpg</string>
				<key>is_spu</key>
				<string>0</string>
				<key>item_id</key>
				<string>1000757</string>
				<key>item_size</key>
				<string>SINGLE</string>
				<key>item_state</key>
				<string>1</string>
				<key>market_price</key>
				<string>188.00</string>
				<key>name</key>
				<string>益智积木 彩虹积木 50块 适用年龄0到3岁 21cm*12cm*15.5cm</string>
				<key>name_add</key>
				<string>Hape明星产品！德国品质！宝宝的第一个玩具，满足宝宝探索的好奇心，很好的锻炼了宝宝的抓握能力。Hape的所有油漆均为食用级水性漆，没有甲醛等有机溶剂，安全环保~</string>
				<key>sale_price</key>
				<string>179.00</string>
				<key>sale_state</key>
				<string>1</string>
				<key>stock_quantity</key>
				<string>25</string>
				<key>type</key>
				<string>1</string>
			</dict>
			<key>item_size</key>
			<string>SINGLE</string>
		</dict>
		<dict>
			<key>count</key>
			<string>2</string>
			<key>item_id</key>
			<string>1005006</string>
			<key>item_info</key>
			<dict>
				<key>auth_level</key>
				<integer>1</integer>
				<key>biz_wholesale_price</key>
				<string>91.00</string>
				<key>full_name</key>
				<string>木玩世家积木/拼插经典双语启蒙动物多米诺BHW061（150片）</string>
				<key>icon</key>
				<string>http://img03.miyabaobei.com/item/10/1005/1005006_topic_1.jpg</string>
				<key>is_spu</key>
				<string>0</string>
				<key>item_id</key>
				<string>1005006</string>
				<key>item_size</key>
				<string>SINGLE</string>
				<key>item_state</key>
				<string>1</string>
				<key>market_price</key>
				<string>238.00</string>
				<key>name</key>
				<string>经典双语启蒙动物多米诺BHW061（150片）</string>
				<key>name_add</key>
				<string>当这套载着木玩人智慧与爱的积木来到您身边时，当孩子用稚嫩的小手认真建造动物森林时，恭喜您！不仅为孩子选择了一份玩具，同时也选择了一份开启智慧大门的启蒙钥匙！这套积木在设计认证中，听取近百位教育学者意见，结合国外玩具教育理念，科学巧妙的把汉语拼音与英文字母与动物多米诺积木完美结合。家长不用担心孩子会混淆！两种动物，两种色彩，在玩具的实证过程中，试玩的近百个孩子都能够轻易区分，在玩耍中，孩子的大脑会将其归纳分类以成体系，家长再教以正确发音，配合双语环境，孩子形成认知，在玩耍中完成调理清楚的双语启蒙！</string>
				<key>sale_price</key>
				<string>99.00</string>
				<key>sale_state</key>
				<string>3</string>
				<key>stock_quantity</key>
				<string>55</string>
				<key>type</key>
				<string>3</string>
			</dict>
			<key>item_size</key>
			<string>SINGLE</string>
		</dict>
		<dict>
			<key>count</key>
			<string>2</string>
			<key>item_id</key>
			<string>1005088</string>
			<key>item_info</key>
			<dict>
				<key>auth_level</key>
				<integer>1</integer>
				<key>biz_wholesale_price</key>
				<string>332.00</string>
				<key>full_name</key>
				<string>B.Toys积木/拼插盘装积木</string>
				<key>icon</key>
				<string>http://img03.miyabaobei.com/item/10/1005/1005088_topic_1.jpg</string>
				<key>is_spu</key>
				<string>0</string>
				<key>item_id</key>
				<string>1005088</string>
				<key>item_size</key>
				<string>SINGLE</string>
				<key>item_state</key>
				<string>1</string>
				<key>market_price</key>
				<string>599.00</string>
				<key>name</key>
				<string>盘装积木</string>
				<key>name_add</key>
				<string>B.toys，宝宝喜爱的玩具！获奖多多的积木玩具，最萌最富创意的积木！外形大大不同于普通积木，更可爱更有活力，手感好，拼接和拆除都超简单，宝宝天马行空的想象力得到释放，随时准备给妈妈惊喜！盘装积木</string>
				<key>sale_price</key>
				<string>389.00</string>
				<key>sale_state</key>
				<string>1</string>
				<key>stock_quantity</key>
				<string>132</string>
				<key>type</key>
				<string>1</string>
			</dict>
			<key>item_size</key>
			<string>SINGLE</string>
		</dict>
		<dict>
			<key>count</key>
			<string>1</string>
			<key>item_id</key>
			<string>1003440</string>
			<key>item_info</key>
			<dict>
				<key>auth_level</key>
				<integer>1</integer>
				<key>biz_wholesale_price</key>
				<string>117.00</string>
				<key>full_name</key>
				<string>Banana Umbrella美容工具/防晒伞双层三折小黑伞 小雏菊</string>
				<key>icon</key>
				<string>http://img03.miyabaobei.com/item/10/1003/1003440_topic_1.jpg</string>
				<key>is_spu</key>
				<string>0</string>
				<key>item_id</key>
				<string>1003440</string>
				<key>item_size</key>
				<string>SINGLE</string>
				<key>item_state</key>
				<string>1</string>
				<key>market_price</key>
				<string>580.00</string>
				<key>name</key>
				<string>双层三折小黑伞 小雏菊</string>
				<key>name_add</key>
				<string>Banana Umbrella，科技与时尚的结合，百年老厂手工打造，最具潮流感，赋予伞的重新定义，让打伞也成为了奢华享受！双层小黑伞系列，奢侈级的伞布，最优的密度和均匀度，高端LRC涂层，配合双层伞面结构，达到99.9%的UVA阻隔！表面覆盖钢琴烤漆的航空铝级伞架，轻便与坚韧的结合！原Chanel设计师合作设计，细节处尽显奢华！</string>
				<key>sale_price</key>
				<string>149.00</string>
				<key>sale_state</key>
				<string>1</string>
				<key>stock_quantity</key>
				<string>15</string>
				<key>type</key>
				<string>1</string>
			</dict>
			<key>item_size</key>
			<string>SINGLE</string>
		</dict>
		<dict>
			<key>count</key>
			<string>1</string>
			<key>item_id</key>
			<string>1010073</string>
			<key>item_info</key>
			<dict>
				<key>auth_level</key>
				<integer>1</integer>
				<key>biz_wholesale_price</key>
				<string>91.00</string>
				<key>full_name</key>
				<string>i play婴童内衣有机棉布长袖贴身衣 男款</string>
				<key>icon</key>
				<string>http://img03.miyabaobei.com/item/10/1010/1010073_topic_1.jpg</string>
				<key>is_spu</key>
				<string>0</string>
				<key>item_id</key>
				<string>1010073</string>
				<key>item_size</key>
				<string>适用年龄3个月以上</string>
				<key>item_state</key>
				<string>1</string>
				<key>market_price</key>
				<string>169.00</string>
				<key>name</key>
				<string>有机棉布长袖贴身衣 男款</string>
				<key>name_add</key>
				<string>天然有机棉，高健康品质，充分保持棉花的原有的柔软和触感，细心呵护宝宝柔嫩的肌肤，良好的透气性，让宝宝舒适加倍！有机棉布长袖贴身衣（男款）</string>
				<key>sale_price</key>
				<string>109.00</string>
				<key>sale_state</key>
				<string>1</string>
				<key>stock_quantity</key>
				<string>52</string>
				<key>type</key>
				<string>1</string>
			</dict>
			<key>item_size</key>
			<string>适用年龄3个月以上</string>
		</dict>
	</array>
	<key>kuajing</key>
	<array>
		<dict>
			<key>count</key>
			<string>3</string>
			<key>item_id</key>
			<string>1047984</string>
			<key>item_info</key>
			<dict>
				<key>auth_level</key>
				<integer>2</integer>
				<key>biz_wholesale_price</key>
				<string>64.00</string>
				<key>full_name</key>
				<string>EARTH&apos;S BEST米粉/面食有机燕麦米粉6M+ 227g*2盒</string>
				<key>icon</key>
				<string>http://img03.miyabaobei.com/d1/p1/item/10/1047/1047984_topic_1.jpg</string>
				<key>is_spu</key>
				<string>1</string>
				<key>item_id</key>
				<string>1047984</string>
				<key>item_size</key>
				<string>SINGLE</string>
				<key>item_state</key>
				<string>1</string>
				<key>market_price</key>
				<string>178.00</string>
				<key>name</key>
				<string>有机燕麦米粉6M+ 227g*2盒</string>
				<key>name_add</key>
				<string>earth best2段有机燕麦米粉，美国进口，有机高铁燕麦米粉。宝宝的安全营养辅食，米香四溢，爱不释口~新老包装随机发货~</string>
				<key>sale_price</key>
				<string>72.00</string>
				<key>sale_state</key>
				<string>1</string>
				<key>stock_quantity</key>
				<integer>5298</integer>
				<key>type</key>
				<string>6</string>
			</dict>
			<key>item_size</key>
			<string>SINGLE</string>
		</dict>
		<dict>
			<key>count</key>
			<string>12</string>
			<key>item_id</key>
			<string>1001097</string>
			<key>item_info</key>
			<dict>
				<key>auth_level</key>
				<integer>2</integer>
				<key>biz_wholesale_price</key>
				<string>78.00</string>
				<key>full_name</key>
				<string>California Baby 加州宝宝屁屁霜/护臀霜护臀膏 82g</string>
				<key>icon</key>
				<string>http://img03.miyabaobei.com/d1/p1/item/10/1001/1001097_topic_1.jpg</string>
				<key>is_spu</key>
				<string>0</string>
				<key>item_id</key>
				<string>1001097</string>
				<key>item_size</key>
				<string>SINGLE</string>
				<key>item_state</key>
				<string>1</string>
				<key>market_price</key>
				<string>228.00</string>
				<key>name</key>
				<string>护臀膏 82g</string>
				<key>name_add</key>
				<string>来自美国安全品牌加州宝宝，选纯羊毛脂成分，非矿物油护臀膏，给宝宝的屁屁加上天然的保护膜！</string>
				<key>sale_price</key>
				<string>92.00</string>
				<key>sale_state</key>
				<string>1</string>
				<key>stock_quantity</key>
				<string>12</string>
				<key>type</key>
				<string>6</string>
			</dict>
			<key>item_size</key>
			<string>SINGLE</string>
		</dict>
		<dict>
			<key>count</key>
			<string>1</string>
			<key>item_id</key>
			<string>1059255</string>
			<key>item_info</key>
			<dict>
				<key>auth_level</key>
				<integer>2</integer>
				<key>biz_wholesale_price</key>
				<string>497.00</string>
				<key>full_name</key>
				<string>merries 花王纸尿裤纸尿裤 M64 片*2+L54片*2包</string>
				<key>icon</key>
				<string>http://img03.miyabaobei.com/d1/p1/item/10/1059/1059255_topic_1.jpg</string>
				<key>is_spu</key>
				<string>1</string>
				<key>item_id</key>
				<string>1059255</string>
				<key>item_size</key>
				<string>SINGLE</string>
				<key>item_state</key>
				<string>1</string>
				<key>market_price</key>
				<string>752.00</string>
				<key>name</key>
				<string>纸尿裤 M64 片*2+L54片*2包</string>
				<key>name_add</key>
				<string>花王是纸尿裤界公认的优质品牌。这几年尿裤界的后期之秀很多，各家都有各自亮点，例如moony的拉拉裤，天使的奢华质感，贝亲的性价比等等。但花王的综合性能很赞，无论是柔软性、干爽性、包裹感、立体舒适感等各方面都颇有口碑，而且使用的宝宝多，基数大，可以说是经过了广大宝爸宝妈们的检验。跨境购商品需要提交个人身份证号码以备海关审核。4包组合，实惠多多！</string>
				<key>sale_price</key>
				<string>499.00</string>
				<key>sale_state</key>
				<string>1</string>
				<key>stock_quantity</key>
				<integer>10000</integer>
				<key>type</key>
				<string>6</string>
			</dict>
			<key>item_size</key>
			<string>SINGLE</string>
		</dict>
	</array>
</dict>
</plist>
