<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>KnowledgePoint.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZXGConfuse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>多线程.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F08E11DF1F78DBD3005DE5F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F08E11F81F78DBD4005DE5F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F08E12241F78DDB1005DE5F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F08E123C1F78DDB2005DE5F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F08E12531F78E01F005DE5F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F08E126B1F78E01F005DE5F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
